:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

.container {
    height: 100vh;
    display: flex;
}

#left-content {
    background: var(--body-bg-color);
    width: 50%;
    padding: 25px;
}

header {
    position: absolute;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
}

.wrapper {
    width: 100%;
}

.logo {
    width: 389px;
}

.logo img {
    width: 100%;
}

.text {
    margin: 6rem 0 3rem;
    line-height: 30px;
}

.text h2 {
    color: var(--title-color);
    font-family: 'Work Sans', sans-serif;
}

.text p {
    font-size: 14px;
    line-height: 20px;
}

form {
    font-size: 14px;
    width: calc(100% + 100px);
}

form label {
    font-weight: 700;
    color: var(--form-color);
    display: block;
}

form input {
    width: 100%;
    height: 48px;
    padding: 10px;
    border: none;
    border-left: 4px solid var(--title-color);
    border-radius: 0;
}

form input:focus {
    outline-style: none;
}

form button {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border: none;
    color: #FFFFFF;
    background: var(--bg-button-color);
    cursor: pointer;
}

#form {
    display: flex;
    align-items: center;
    margin: 10px 0 50px;
    filter: drop-shadow(4px 10px 5px rgba(0, 0, 0, 0.3));
}

#link {
    text-decoration: none;
    color: var(--bg-button-color);
    font-weight: bold;
    font-size: 14px;

    display: flex;
    align-items: center;
    width: fit-content;
}

#link img {
    margin-left: 5px;
}

aside {
    width: 50%;
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: center;
}

.undraw {
    width: 70%;
}

.undraw img {
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    aside {
        display: none;
    }

    #left-content {
        width: 100%;
    }

    form {
        width: 100%;
    }
}